doctype html
html(lang='en')
  head
    title +Sum+
    link(rel='stylesheet' href='./css/style.css')
  body
    header
      img(src='img/sum.png')
      h2 Let's add numbers together!
    section.namecard
      .hello
          if name
            h1 Welcome, #{name}!
        
